.page-header{ :style => 'margin-bottom: 0px;' }
  .pull-right
    = link_to 'Home', root_path, :style => 'display: inline-block; margin-top: 25px;'
  %h1 Profesiones

.well
  = form_for_filterrific @fprofesion do |f|
    .row
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Buscar por nombre' }
          = f.text_field :search_query,
                         class: 'filterrific-periodically-observed form-control',
                         placeholder: 'Busqueda'
      .col-md-4
        .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Restablecer los ajustes del filtro a los valores predeterminados.' }
          = link_to "Restablecer los filtros", reset_filterrific_url, :class => 'btn btn-default btn-sm'
          = link_to "Nueva Profesion", new_profesion_path, :class => "btn btn-primary"

#results
  = render partial: 'profesiones/list',
           locals: { :profesiones => @profesiones }

:javascript
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
