.page-header{ :style => 'margin-bottom: 0px;' }
  .pull-right
    = link_to 'Atras', root_path, :style => 'display: inline-block; margin-top: 25px;'
  %h1 Ciudades

.well
  = form_for_filterrific @fciudad do |f|
    .row
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Buscar por nombre, codigo.' }
          %label Busqueda
          = f.text_field :search_query,
                         class: 'filterrific-periodically-observed form-control',
                         placeholder: 'Busqueda'
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filtrar por Departamento.' }
          %label Departamento
          = f.select :with_departamento_id,
                     @fciudad.select_options[:with_departamento_id],
                     { :include_blank => '- Cualquier -' },
                     { :class => 'form-control' }
      .col-md-4
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Cambie el orden.' }
          %label Ordenado por
          = f.select :sorted_by,
                     @fciudad.select_options[:sorted_by],
                     {},
                     { :class => 'form-control' }

#results
  = render :partial => 'ciudades/list',
           :locals => { :ciudades => @ciudades }

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
