%p#notice= notice

%p
  %b Codigo:
  = @ciudad.codigo
%p
  %b Nombre:
  = @ciudad.nombre
%p
  %b Departamento:
  = @ciudad.departamento_nombre.capitalize

= link_to 'Editar', edit_ciudad_path(@ciudad)
\|
= link_to 'Atras', ciudades_path
